* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #ADD8E6;
    font-family: 'Sigmar One', sans-serif;
}

header, main {
    width: 50%;
    margin: 0 auto;
}

div.row:after {
    content: '';
    display: table;
    clear: both;
}

div[class^="col-"] {
    float: left;
}

div.col-100 {
    width: 100%;
}

div.col-25 {
    width: 25%;
    padding: 15px 8px;
}

header div#main-title {
    color: #FFF;
    font-size: 35px;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px #666;
    padding: 0;
}

main div.card {
    background: url("../img/pattern.png") repeat-y top center;
    background-size: contain;
    height: 220px;
    border-radius: 5px;
    box-shadow: 2px 2px 4px #999;
    position: relative;
}

main div.card:hover {
    background: #FFF;
}

main div.card.active {
    background: #FFF;
}

main div.card > img {
    width: 70%;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    display: none;
}

main div.card > div.card-title {
    width: 100%;
    font-size: 20px;
    color: #E61986;
    text-align: center;
    position: absolute;
    bottom: 4%;
    display: none;
}

main div.card:hover > img,
main div.card.active > img,
main div.card:hover > div.card-title,
main div.card.active > div.card-title {
    display: block;
}