* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #ADD8E6;
    font-family: 'Sigmar One', sans-serif;
}

header, main {
    width: 50%;
    margin: 0 auto;
}

/*row and coloumns*/

div.row:after {
    content: '';
    display: table;
    clear: both;
}

div[class^="col-"] {
    float: left;
}

div.col-100 {
    width: 100%;
}

div.col-25 {
    width: 25%;
    padding: 15px 8px;
}

/*page title*/

header div#main-title {
    color: #FFF;
    font-size: 35px;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px #666;
    padding: 0;
}

/*main content*/

main div.card {
    position: relative;
    background: url("../img/pattern.png") repeat-y top center;
    background-size: contain;
    text-align: center;
    padding: 20px 0 30px 0;
    border-radius: 5px;
    box-shadow: 2px 2px 4px #999;
    cursor: pointer;
}

main div.card > img {
    width: 70%;
    text-align: center;
    visibility: hidden;
}

main div.card > div.card-title {
    position: absolute;
    bottom: 2%;
    width: 100%;
    font-size: 20px;
    color: #E61986;
    text-align: center;
    visibility: hidden;
}

main div.col-25:hover > div.card {
    transition: transform 0.6s;
    transform: rotateY(180deg);
    background: #FFF;
}

main div.col-25:hover > div.card > div.card-title,
main div.col-25:hover > div.card > img {
    transition-delay: 0.2s;
    transform: rotateY(180deg);
    visibility: visible;
}

main div.card.active {
    background: #FFF;
}

main div.card.active > div.card-title,
main div.card.active > img {
    visibility: visible;
}

/*disclaimer*/

footer p {
    text-align: center;
    padding-top: 10px;
}